location               = "eastus"
resource_group_name     = "ApiDevOps-RG"
name_prefix             = "apidevops-fcorrea"
container_registry_name = "apidevopsfcorreaacr"
app_service_plan_name   = "apidevops-fcorrea-plan"
staging_app_name        = "apidevops-fcorrea-staging"
production_app_name     = "apidevops-fcorrea-prod"
key_vault_name                = "apidevops-fcorrea-kv"
app_service_sku_name          = "S1"
acr_sku_name                  = "Standard"
image_repository              = "devops-api"
image_tag                     = "latest"
api_key_secret_name           = "api-key"
secret_key_secret_name        = "secret-key"
api_key                       = "change-me-api-key"
secret_key                    = "change-me-secret-key"
